<%= render 'layouts/top_bar' %>

<div class="container top-buffer d-flex justify-content-center">
  <div class="col-9">

    <p><%= t('.about_text') %></p>

    <ul>
      <li><%= t('.australia_text') %></li>
      <li><%= t('.eu_text') %></li>
      <li><%= t('.south_africa_text') %></li>
      <li><%= t('.united_kingdom_text') %></li>
    </ul>

  </div>
</div>
