<div class="jumbotron jumbotron-fluid jumbocolor">
  <div class="container d-flex justify-content-center">
    <h1 class="display-4">TAX ID VALIDATOR</h1>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div class="col-11">

    <%= form_with(scope: 'validate', local: true) do |form| %>

      <div class="form-group row">

        <%= form.label "Country:", class: "col-3 col-form-label" %>
        <%= form.select(:country, options_for_select(@country_list), {class: "col-7 form-control custom-select"}) %>

      </div>

      <div class="form-group row">

        <%= form.label :tax_id, "Tax ID:", class: "col-3 col-form-label" %>
        <%= form.text_field :tax_id, class: "col-7 form-control", placeholder: "Enter Tax ID" %>

      </div>

      <%= form.submit "Validate", class: "btn button_style" %>

    <% end %>

  </div>
</div>
